body {
  margin: 0;
  padding: 0;
   background-color: #81C7D4;
}

h2 {
  font-family: 'DM Mono', monospace;
  text-align:center;
  color: #2E5C6E;
  height: 0px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #2E5C6E;
}
h1 {
  font-family: 'DM Mono', monospace;
  font-size: 50px;
    height: 300px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #2E5C6E;
}
p {
  font-family: 'DM Mono', monospace;
  font-size: 15px;
    height: 170px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #2E5C6E;
}
a:link, a:visited {
  background-color:#2E5C6E;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #F7D94C;
}
