body {
  margin: 0;
  padding: 0;
}

.tile {
  display: block;
  float: left;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.tile:nth-of-type(4n + 1) {
  clear: left;
}

.tile:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  position: absolute;
  /*left:0; top:0;*/
  bottom: 0;
  right: 0;

  transition: transform 0.2s;
}

.tile_open:after {
  transition: transform 0.2s;
  transform: translateX(-105%);
}

.tile .fa {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.tile_closed {
  cursor: normal;
  opacity: 0.3;
  transition: opacity 0.5s;
}


body {
  background-color: #81C7D4;
}
.tile:after {
  background-color: #2E5C6E;
}
.tile:hover:after {
  background-color: #F7C242;
}

.tile {
  background-color: #2D6D4B;
}
.tile_closed {
  background-color: ##42602D;
}


.tile_container {
  overflow: hidden;
  width: 90vmin;
  height: 90vmin;
  margin-left: auto;
  margin-right: auto;
}

.tile .fa {
  font-size: 70px;
  font-size: 10vmin;
  line-height: 100px;
  line-height: 16vmin;
}

.tile {
  width: 100px;
  width: 17%;
  height: 100px;
  height: 17%;
  margin: 20px;
  margin: 4%;
}

.overlay_win {
  position: absolute;
  top: 25vmin;
  left: 0;
  height: 40vmin;
  width: 100%;
  text-align: center;
}
.overlay_win {
  background-color: #F7D94C;
}

.overlay_win h2 {
  font-size: 15vmin;
  line-height: 15vmin;
  margin: 5vmin 0px;
}
.overlay_win h2 {
  color: #577C8A;
  font-family: 'Raleway', sans-serif;;
}

#replay {
  font-size: 7vmin;
  display: inline-block;
  border-radius: 1vmin;
  padding: 2vmin 4vmin;
  font-family: 'DM Mono', monospace;
  cursor: pointer;
}

#replay {
  background-color: #0D5661;
  color: #A5DEE4;
}

#replay:hover {
  color: #6A8372;
}

.overlay_win {
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
}
.overlay_win_open {
  opacity: 0.9;
  transition: opacity 0.4s;
  pointer-events: auto;
}
h2 {
  font-family: 'DM Mono', monospace;
  text-align:center;
  color: #2E5C6E;
}
